{{#extends 'base'}}

{{#block "content"}}
<h1>Contact Us</h1>
<div>
    <label>Your Email: </label>
    <input type="text"/>
</div>
<button class="btn btn-primary">Send</button>

{{/block}}

{{#block "title"}}
Contact Us
{{/block}}

{{/extends}}