
{{#extends "base"}}
{{#block "content"}}
        <h1>SmartBubble Tea</h1>
        <p>
            Bubbles so smart that they increases your IQ just by eating them!
        </p>
{{/block}}
{{/extends}}